<div
  class="container-fluid"
  style="padding-top: 40px; padding-bottom: 20px;"
></div>
<div style="width: 50%; margin: 0 auto;">
  <div class="mx-auto">
    <!-- <div  [ngBusy]="{busy: busy, message: 'Searching...', backdrop: false}"></div>     -->

    <div *ngIf="showDataList">
      <div *ngIf="cabinetMembers">
        <p-dataList
          [value]="cabinetMembers"
          [paginator]="false"
          [rows]="5"
          class="mx-auto"
          emptyMessage="{{ emptyMessage }}"
        >
          <p-header>
            Cabinet members
          </p-header>
          <div class="mx-auto">
            <ng-template let-cabinet pTemplate="item">
              <div
                class="ui-grid ui-grid-responsive ui-fluid"
                style="
                  font-size: 16px;
                  padding: 20px;
                  border-bottom: 1px solid #d5d5d5;
                "
              >
                <div class="ui-grid-row">
                  <div class="ui-grid-col-3" style="text-align: center;">
                    <i
                      class="fa fa-search"
                      (click)="selectCabinet(cabinet)"
                      style="cursor: pointer; float: left; margin-top: 40px;"
                    ></i>
                    <img
                      src="../../assets/cabinet/CB_{{ cabinet.id }}.jpg"
                      alt="cabinet member picture"
                      (click)="selectCabinet(cabinet)"
                      class="img-thumbnail"
                      width="80px"
                      height="136px"
                    />
                  </div>
                  <div class="ui-grid-col-9">
                    <div class="ui-grid ui-grid-responsive ui-fluid">
                      <div class="ui-grid-row">
                        <h5 class="cabinet-name">
                          <div class="ui-grid-col-12">
                            {{ cabinet.firstName }} {{ cabinet.lastName }}
                          </div>
                        </h5>
                      </div>
                      <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                          {{ cabinet.title }}
                        </div>
                      </div>

                      <div class="ui-grid-row">
                        <div class="ui-grid-col-12 for-font-size">
                          <span class="fa fa-phone cabinet-icon fa-fw"></span>
                          {{ cabinet.phone }}
                        </div>
                      </div>
                      <div class="ui-grid-row">
                        <div class="ui-grid-col-12 for-font-size">
                          <div *ngIf="cabinet.url !== null">
                            <span class="fa fa-external-link fa-fw"></span>
                            <a href="{{ cabinet.url }}">
                              website
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </p-dataList>
      </div>

      <div *ngIf="!cabinetMembers">
        <p-dataList
          [value]="generateSkeleton(9)"
          [paginator]="false"
          [rows]="5"
          class="mx-auto"
          emptyMessage="{{ emptyMessage }}"
        >
          <p-header><br /> </p-header>
          <div class="mx-auto">
            <ng-template let-skeleton pTemplate="item">
              <div
                class="ui-grid ui-grid-responsive ui-fluid"
                style="
                  font-size: 16px;
                  padding: 10px;
                  border-bottom: 1px solid #d5d5d5;
                "
              >
                <div class="ui-grid-row">
                  <div class="ui-grid-col-3" style="text-align: center;">
                    <i
                      class="fa fa-search"
                      style="cursor: pointer; float: left; margin-top: 40px;"
                    ></i>
                    <ngx-skeleton-loader
                      count="1"
                      [theme]="{
                        'border-radius': '0',
                        height: '90px',
                        width: '75px'
                      }"
                    ></ngx-skeleton-loader>
                  </div>

                  <div class="ui-grid-col-9">
                    <div class="ui-grid ui-grid-responsive ui-fluid">
                      <div class="ui-grid-row">
                        <h5 class="judge-name">
                          <ngx-skeleton-loader
                            count="1"
                            [theme]="{
                              'border-radius': '0',
                              height: '18px',
                              width: '150px'
                            }"
                          ></ngx-skeleton-loader>
                        </h5>
                      </div>
                      <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                          <ngx-skeleton-loader
                            count="1"
                            [theme]="{
                              'border-radius': '0',
                              height: '8px',
                              width: '145px'
                            }"
                          ></ngx-skeleton-loader>
                        </div>
                      </div>
                      <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                          <ngx-skeleton-loader
                            count="1"
                            [theme]="{
                              'border-radius': '0',
                              height: '8px',
                              width: '180px'
                            }"
                          ></ngx-skeleton-loader>
                        </div>
                      </div>

                      <div class="ui-grid-row">
                        <div class="ui-grid-col-12">
                          <ngx-skeleton-loader
                            count="1"
                            [theme]="{
                              'border-radius': '0',
                              height: '8px',
                              width: '150px'
                            }"
                          ></ngx-skeleton-loader>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </p-dataList>
      </div>
    </div>
  </div>
</div>
