<div class="container pt-4 pb-3"></div>
<div class="w-50 mx-auto">
  <div *ngIf="showDataList">
    <div *ngIf="cabinetMembers">
      <p-dataView
        [value]="cabinetMembers"
        [paginator]="false"
        emptyMessage="{{ emptyMessage }}"
      >
        <p-header>
          <div class="row govlookup-listitem-row-header">
            <div class="col-12">Cabinet</div>
          </div>
        </p-header>

        <ng-template let-cabinet pTemplate="listItem">
          <div class="govlookup-listitem-row">
            <div class="row">
              <div class="col-1 my-auto">
                <i class="fa fa-search" (click)="selectCabinet(cabinet)"></i>
              </div>
              <div class="col-2 my-auto govlookup-listitem-img">
                <img
                  src="../../assets/cabinet/CB_{{ cabinet.id }}.jpg"
                  alt="cabinet member picture"
                  (click)="selectCabinet(cabinet)"
                  class="img-thumbnail"
                  width="80px"
                  height="136px"
                />
              </div>
              <div class="col-9">
                <div class="row">
                  <h5 class="cabinet-name">
                    <div class="col-12 govlookup-item-title">
                      {{ cabinet.firstName }} {{ cabinet.lastName }}
                    </div>
                  </h5>
                </div>
                <div class="row">
                  <div class="col-12">
                    {{ cabinet.title }}
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <span class="fa fa-phone cabinet-icon fa-fw"></span>
                    {{ cabinet.phone }}
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div *ngIf="cabinet.url !== null">
                      <span>
                        <i
                          class="fa fa-external-link-square"
                          aria-hidden="true"
                        ></i>
                        <a href="{{ cabinet.url }}"> website </a>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>

    <div *ngIf="!cabinetMembers">
      <p-dataView
        [value]="generateSkeleton(4)"
        [paginator]="false"
        emptyMessage="{{ emptyMessage }}"
      >
        <p-header>
          <div class="row govlookup-listitem-row-header">
            <div class="col-md-12"></div>
            <ngx-skeleton-loader
              count="1"
              [theme]="{
                'border-radius': '0',
                height: '8px',
                width: '145px'
              }"
            ></ngx-skeleton-loader>
          </div>
        </p-header>

        <ng-template let-skeleton pTemplate="listItem">
          <div class="row govlookup-listitem-row">
            <div class="col-1 my-auto">
              <ngx-skeleton-loader
                count="1"
                [theme]="{
                  'border-radius': '0',
                  height: '10px',
                  width: '10px'
                }"
              ></ngx-skeleton-loader>
            </div>
            <div class="col-2 govlookup-listitem-img my-auto">
              <ngx-skeleton-loader
                count="1"
                [theme]="{
                  'border-radius': '0',
                  height: '95px',
                  width: '80px'
                }"
              ></ngx-skeleton-loader>
            </div>
            <div class="col-md-7 col-lg-9">
              <div class="row">
                <div class="col-12 govlookup-item-title">
                  <ngx-skeleton-loader
                    count="1"
                    [theme]="{
                      'border-radius': '0',
                      height: '10px',
                      width: '150px'
                    }"
                  ></ngx-skeleton-loader>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <ngx-skeleton-loader
                    count="1"
                    [theme]="{
                      'border-radius': '0',
                      height: '8px',
                      width: '145px'
                    }"
                  ></ngx-skeleton-loader>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <ngx-skeleton-loader
                    count="1"
                    [theme]="{
                      'border-radius': '0',
                      height: '8px',
                      width: '180px'
                    }"
                  ></ngx-skeleton-loader>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <ngx-skeleton-loader
                    count="1"
                    [theme]="{
                      'border-radius': '0',
                      height: '8px',
                      width: '180px'
                    }"
                  ></ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </div>
</div>
