<div class="container">
  <div class="paragraphs">
    <div class="row"></div>

    <div class="row top-buffer">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <div class="span4 text-top-buffer">
          <img
            style="float: left"
            alt="my picture"
            src="../../assets/me.jpg"
            class="rounded-circle me"
          />
          <div class="content-heading margin-left">
            <br />
            <br />
            <h5>Thanks for visiting GovLookup!</h5>
          </div>
          <p class="blurb">
            I hope this serves as a useful resource for government data.
            <br /><em> - Melissa O. </em>
            <br />
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <br />
        <br />
        <h6 class="text-center text-heading">Where the data comes from...</h6>
        <br />
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>Data</th>
              <th>Source</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Members of congress</td>
              <td>ProPublica</td>
              <td>
                <a
                  href="https://www.propublica.org/datastore/api/propublica-congress-api"
                >
                  propublica.org/datastore/api/propublica-congress-api</a
                >
              </td>
            </tr>
            <tr>
              <td>House Votes</td>
              <td>clerk.house.gov</td>
              <td>
                <a href="http://clerk.house.gov/"> clerk.house.gov/</a>
              </td>
            </tr>
            <tr>
              <td>Senate Votes</td>
              <td>senate.gov</td>
              <td>
                <a
                  href="https://www.senate.gov/legislative/LIS/roll_call_votes"
                >
                  senate.gov/legislative/LIS/roll_call_votes</a
                >
              </td>
            </tr>

            <tr>
              <td>Legislators Bills</td>
              <td>congress.gov</td>
              <td>
                <a href="www.congress.gov/member"> congress.gov/member</a>
              </td>
            </tr>

            <tr>
              <td>Senate Committees</td>
              <td>senate.gov</td>
              <td>
                <a
                  href="www.senate.gov/general/committee_assignments/assignments.htm"
                >
                  senate.gov/general/committee_assignments/assignments.htm</a
                >
              </td>
            </tr>

            <tr>
              <td>House Committees</td>
              <td>clerk.house.gov</td>
              <td>
                <a href="http://clerk.house.gov/committees/">
                  clerk.house.gov/committees</a
                >
              </td>
            </tr>
            <tr>
              <td>Bills under Consideration</td>
              <td>house.gov</td>
              <td>
                <a href="https://docs.house.gov/floor">
                  docs.house.gov/floor/</a
                >
              </td>
            </tr>
            <tr>
              <td>Industry Contributions</td>
              <td>OpenSecrets.org Center for Responsive Politics</td>
              <td>
                <a
                  href="https://www.opensecrets.org/resources/create/api_doc.php"
                >
                  opensecrets.org</a
                >
              </td>
            </tr>

            <tr>
              <td>Congressional District Cartographic Boundary Files</td>
              <td>census.gov</td>
              <td>
                <a
                  href="https://www.census.gov/geographies/mapping-files/time-series/geo/kml-cartographic-boundary-files.html"
                >
                  census.gov</a
                >
              </td>
            </tr>

            <tr>
              <td>Address decoding to Longitude / Latitude</td>
              <td>geocoding.geo.census.gov</td>
              <td>
                <a href="https://geocoding.geo.census.gov">
                  geocoding.geo.census.gov</a
                >
              </td>
            </tr>
            <tr>
              <td>Cabinet members</td>
              <td>Whitehouse.gov</td>
              <td>
                <a
                  href="https://www.whitehouse.gov/the-trump-administration/the-cabinet/"
                >
                  whitehouse.gov/the-trump-administration/the-cabinet</a
                >
              </td>
            </tr>
            <tr>
              <td>Cabinet Member's Job History</td>
              <td>OpenSecrets.org Center for Responsive Politics</td>
              <td>
                <a href="https://www.opensecrets.org"> www.opensecrets.org</a>
              </td>
            </tr>
            <tr>
              <td>Judiciary Members</td>
              <td>supremecourt.gov</td>
              <td>
                <a href="https://www.supremecourt.gov/about/justices.aspx">
                  supremecourt.gov/about/justices.aspx</a
                >
              </td>
            </tr>

            <tr>
              <td>Judiciary Key Descisions /Opinions</td>
              <td>supremecourt.gov</td>
              <td>
                <a href="https://www.supremecourt.gov"> supremecourt.gov</a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="col-sm-1"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <br />
        <br />
        <h6 class="text-center text-heading">Technology..</h6>
        <br />
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>Component</th>
              <th>Tech</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>UI Web Framework</td>
              <td>Angular v9</td>
            </tr>

            <tr>
              <td>CSS Framework</td>
              <td>Bootstrap v4</td>
            </tr>

            <tr>
              <td>Web Api</td>
              <td>Microsoft .net core 3.1, C#</td>
            </tr>

            <tr>
              <td>Database</td>
              <td>Microsoft SQLServer Express</td>
            </tr>

            <tr>
              <td>Graphics</td>
              <td>Shutterstock</td>
            </tr>
            <tr>
              <td>Icons</td>
              <td>Noun Project</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
</div>
<footer>
  <div class="text-center blurb align-middle">
    <a
      aria-label="GitHub"
      class="fa fa-github-square"
      href="https://github.com/MelissaOBrienJC"
      style="font-size: 32px"
      ><span class="smallText align-middle"> Source Code</span>
    </a>
  </div>
</footer>
