<p-dataView #dvc id="dvCommittees" [value]="committees" [paginator]="false">
  <p-header> </p-header>
  <ng-template let-committee pTemplate="listItem">
    <div class="ui-g p-md border-bottem">
      <div class="ui-g-12 ui-md-10 keyVotes">
        <div class="ui-g">
          <div class="ui-g-12 ui-sm-12">
            {{ committee.name }}
            <strong [ngClass]="'committeeTitle'">
              {{ committee.title === "Chair" ? committee.title : "" }}
            </strong>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>
