<div class="container pt-4 pb-3"></div>

<div class="row">
  <div class="mx-auto">
    <form name="Location">
      <div>
        <label for="address"> </label>
        <input
          id="in"
          type="text"
          size="40"
          pInputText
          [(ngModel)]="address"
          name="address"
          placeholder="Enter address or name"
        />
        <button
          aria-label="Find Legislators"
          (click)="findLegislators(address)"
        >
          Find legislators
        </button>
      </div>
    </form>
  </div>
</div>

<div class="w-50 pt-4 mx-auto">
  <div *ngIf="showDataList">
    <div *ngIf="legislators">
      <p-dataView
        [value]="legislators"
        [paginator]="false"
        emptyMessage="{{ emptyMessage }}"
      >
        <p-header>
          <div class="row govlookup-listitem-row-header">
            <div class="col-12">Legislators</div>
          </div>
        </p-header>

        <ng-template let-legislator pTemplate="listItem">
          <div class="row govlookup-listitem-row">
            <div class="col-1 my-auto">
              <i
                class="fa fa-search"
                (click)="selectLegislator(legislator)"
              ></i>
            </div>
            <div class="col-2 govlookup-listitem-img my-auto">
              <img
                src="../../assets/legislators/{{ legislator.id }}.jpg"
                alt="legislator picture"
                (click)="selectLegislator(legislator)"
                class="img-thumbnail"
                width="80px"
                height="136px"
              />
            </div>

            <div class="col-md-7 col-lg-9">
              <div class="row">
                <h5 class="cabinet-name">
                  <div class="col-12 govlookup-item-title">
                    {{ legislator.firstName }} {{ legislator.lastName }}
                  </div>
                </h5>
              </div>
              <div class="row">
                <div class="col-12">
                  <div
                    *ngIf="legislator.chamber === 'House'; else stateNameOnly"
                  >
                    {{
                      legislator.gender === "F"
                        ? "Congresswoman"
                        : "Congressman"
                    }}
                    {{ legislator.stateName }} District 
                    {{ legislator.district }}
                  </div>
                  <ng-template #stateNameOnly>
                    Senator {{ legislator.stateName }}
                  </ng-template>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <img
                    src="../../assets/party_{{
                      legislator.party === 'D'
                        ? 'democrat'
                        : legislator.party === 'R'
                        ? 'republican'
                        : 'independant'
                    }}_small.png"
                    alt="party"
                  />

                  {{
                    legislator.party === "D"
                      ? "Democrat"
                      : legislator.party === "R"
                      ? "Republican"
                      : "Independant"
                  }}
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <span class="fa fa-phone legislator-icon fa-fw"></span>
                  {{ legislator.phone }}
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <span class="fa fa-external-link fa-fw"></span>
                  <a href="{{ legislator.url }}"> {{ legislator.url }}</a>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>

    <div *ngIf="!legislators">
      <p-dataView
        [value]="generateSkeleton(3)"
        [paginator]="false"
        emptyMessage="{{ emptyMessage }}"
      >
        <p-header>
          <div class="row govlookup-listitem-row-header">
            <div class="col-md-12"></div>
            <ngx-skeleton-loader
              count="1"
              [theme]="{
                'border-radius': '0',
                height: '8px',
                width: '145px'
              }"
            ></ngx-skeleton-loader>
          </div>
        </p-header>

        <ng-template let-skeleton pTemplate="listItem">
          <div class="row govlookup-listitem-row">
            <div class="col-1 my-auto">
              <ngx-skeleton-loader
                count="1"
                [theme]="{
                  'border-radius': '0',
                  height: '10px',
                  width: '10px'
                }"
              ></ngx-skeleton-loader>
            </div>
            <div class="col-2 govlookup-listitem-img my-auto">
              <ngx-skeleton-loader
                count="1"
                [theme]="{
                  'border-radius': '0',
                  height: '95px',
                  width: '80px'
                }"
              ></ngx-skeleton-loader>
            </div>

            <div class="col-md-7 col-lg-9">
              <div class="row">
                <h5 class="cabinet-name">
                  <div class="col-12 govlookup-item-title">
                    <ngx-skeleton-loader
                      count="1"
                      [theme]="{
                        'border-radius': '0',
                        height: '10px',
                        width: '150px'
                      }"
                    ></ngx-skeleton-loader>
                  </div>
                </h5>
              </div>
              <div class="row">
                <div class="col-12">
                  <ngx-skeleton-loader
                    count="1"
                    [theme]="{
                      'border-radius': '0',
                      height: '8px',
                      width: '145px'
                    }"
                  ></ngx-skeleton-loader>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <ngx-skeleton-loader
                    count="1"
                    [theme]="{
                      'border-radius': '0',
                      height: '8px',
                      width: '180px'
                    }"
                  ></ngx-skeleton-loader>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <ngx-skeleton-loader
                    count="1"
                    [theme]="{
                      'border-radius': '0',
                      height: '8px',
                      width: '180px'
                    }"
                  ></ngx-skeleton-loader>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <ngx-skeleton-loader
                    count="1"
                    [theme]="{
                      'border-radius': '0',
                      height: '8px',
                      width: '180px'
                    }"
                  ></ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </div>
</div>
