<p-dataView #dv [value]="keyDecisions" [paginator]="false" filterBy="issue">
  <p-header> </p-header>
  <ng-template let-decision pTemplate="listItem">
    <div class="container border border-bottom">
      <div class="row">
        <div class="col-12 col-md-2 summary-col my-auto text-center">
          <section>
            <br />
            <div class="votedText">
              VOTED WITH
              <br />
            </div>
            <div class="minorityVote">
              <div *ngIf="decision.voteCast == 'dissent'; else majority">
                MINORITY
                <br />
                <br />
                <div class="minorityTallyText">{{ decision.tally }} <br /></div>
              </div>
            </div>

            <ng-template #majority>
              <div class="majorityVote">MAJORITY</div>
              <br />
              <div class="majorityTallyText">{{ decision.tally }} <br /></div>
            </ng-template>

            <br />

            <div class="votedDateText">
              {{ decision.decisionDate | date: "shortDate" }}
            </div>
          </section>
        </div>
        <div class="col-12 col-md-10 keyVotes">
          <br />
          <div class="row govlookup-item-title">{{ decision.title }}:</div>

          <div class="row">
            {{ decision.titleDesc }}
          </div>

          <br />
          <div class="row">{{ decision.description }}</div>
          <div class="row">
            <br />
            <div *ngFor="let rollCall of decision.rollCallDecision">
              <img
                alt="judge vote"
                src="../../assets/judiciary/SC{{
                  rollCall.voteCast == 'dissent' ? 'FADE' : ''
                }}_{{ rollCall.judiciaryId }}.jpg"
                onerror="this.src='./../assets/judiciary/person.jpg'"
                class="img-thumbnail{{
                  rollCall.voteCast == 'majority' ? 'Majority' : 'White'
                }}"
                width="62px"
                height="80px"
              />
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>
