<p-dataView
  #dv
  [value]="keyDecisionsOpinions"
  [paginator]="false"
  filterBy="issue"
>
  <p-header> </p-header>
  <ng-template let-opinion pTemplate="listItem">
    <div class="ui-g border border-bottom p-1">
      <div class="col-12 keyVotes">
        <div class="col-12">{{ opinion.title_desc }}</div>
        <div class="col-12 govlookup-item-title">{{ opinion.title }}</div>
        <blockquote>
          <p class="quote">{{ opinion.quote }}</p>
          <p class="credit">
            <strong>Judge {{ lastName }}</strong
            ><br /><em></em><br />
          </p>
        </blockquote>
      </div>
    </div>
  </ng-template>
</p-dataView>
