<div class="container pt-4 pb-3"></div>
<div class="w-50 mx-auto">
  <div *ngIf="showDataList">
    <div *ngIf="judges">
      <p-dataView
        [value]="judges"
        [paginator]="false"
        emptyMessage="{{ emptyMessage }}"
      >
        <p-header>
          <div class="row govlookup-listitem-row-header">
            <div class="col-12">Justices</div>
          </div>
        </p-header>

        <ng-template let-judge pTemplate="listItem">
          <div class="row govlookup-listitem-row">
            <div class="col-1 my-auto">
              <i class="fa fa-search" (click)="selectJudge(judge)"></i>
            </div>
            <div class="col-2 govlookup-listitem-img my-auto">
              <img
                src="../../assets/judiciary/SC_{{ judge.id }}.jpg"
                alt="justice"
                (click)="selectJudge(judge)"
                class="img-thumbnail"
                width="80px"
                height="136px"
              />
            </div>
            <div class="col-md-7 col-lg-9">
              <div class="row">
                <h5 class="cabinet-name">
                  <div class="col-12 govlookup-item-title">
                    {{ judge.firstName }} {{ judge.lastName }}
                  </div>
                </h5>
              </div>
              <div class="row">
                <div class="col-12">
                  {{ judge.Title }}
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div *ngIf="judge.appointedBy !== null">
                    Appointed By {{ judge.appointedBy }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div *ngIf="judge.tenureYears !== '0'; else monthsOnly">
                    Tenure {{ judge.tenureYears }} Years
                    {{ judge.tenureMonths }} Months
                  </div>
                  <ng-template #monthsOnly>
                    Tenure {{ judge.tenureMonths }} Months
                  </ng-template>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div *ngIf="judge.url !== null">
                    <span class="fa fa-external-link fa-fw"></span>
                    <a href="{{ judge.url }}"> website </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
    <div *ngIf="!judges">
      <p-dataView
        [value]="generateSkeleton(4)"
        [paginator]="false"
        emptyMessage="{{ emptyMessage }}"
      >
        <p-header>
          <div class="row govlookup-listitem-row-header">
            <div class="col-md-12"></div>
            <ngx-skeleton-loader
              count="1"
              [theme]="{
                'border-radius': '0',
                height: '8px',
                width: '145px'
              }"
            ></ngx-skeleton-loader>
          </div>
        </p-header>

        <ng-template let-skeleton pTemplate="listItem">
          <div class="row govlookup-listitem-row">
            <div class="col-1 my-auto">
              <ngx-skeleton-loader
                count="1"
                [theme]="{
                  'border-radius': '0',
                  height: '10px',
                  width: '10px'
                }"
              ></ngx-skeleton-loader>
            </div>
            <div class="col-2 govlookup-listitem-img my-auto">
              <ngx-skeleton-loader
                count="1"
                [theme]="{
                  'border-radius': '0',
                  height: '95px',
                  width: '80px'
                }"
              ></ngx-skeleton-loader>
            </div>
            <div class="col-md-7 col-lg-9">
              <div class="row">
                <h5 class="cabinet-name">
                  <div class="col-12 govlookup-item-title">
                    <ngx-skeleton-loader
                      count="1"
                      [theme]="{
                        'border-radius': '0',
                        height: '10px',
                        width: '150px'
                      }"
                    ></ngx-skeleton-loader>
                  </div>
                </h5>
              </div>
              <div class="row">
                <div class="col-12">
                  <ngx-skeleton-loader
                  count="1"
                  [theme]="{
                    'border-radius': '0',
                    height: '8px',
                    width: '145px'
                  }"
                ></ngx-skeleton-loader>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <ngx-skeleton-loader
                    count="1"
                    [theme]="{
                      'border-radius': '0',
                      height: '8px',
                      width: '145px'
                    }"
                  ></ngx-skeleton-loader>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <ngx-skeleton-loader
                    count="1"
                    [theme]="{
                      'border-radius': '0',
                      height: '8px',
                      width: '180px'
                    }"
                  ></ngx-skeleton-loader>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <ngx-skeleton-loader
                    count="1"
                    [theme]="{
                      'border-radius': '0',
                      height: '8px',
                      width: '180px'
                    }"
                  ></ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </div>
</div>
