html,
body {
  margin: 0;
  height: 100%;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.navbar {
  max-height: 50px;
  padding: 0;
}

.container-fluid {
  width: 100%;
  padding: 0;
  white-space: nowrap;
}
.header {
  padding: 0px;
}
/* section all */

section {
  padding: 0 30px;
}

.govlookup-img {
  border: 3px solid darkblue;
  box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 20px;
}


.govlookup-detail-text {
  color: rgba(117, 117, 117, 1);
}

.govlookup-item-title {
  font-style: italic;
  color: #00008b;
  font-weight: normal;
}
