html,
body {
  margin: 0;
  height: 100%;
}

.navbar {
  padding: 0;
}

.container-fluid {
  width: 100%;
  padding: 0;
  white-space: nowrap;
}
.header {
  padding: 0px;
}

section {
  padding-top:  30px;
}

