<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <button
        class="btn btn-primary btn-xl text-uppercase"
        [ngxScrollTo]="'#getstarted'"
      >
        Get started
      </button>
    </div>
  </div>
</header>

<section class="main pt-5 pb-5">
  <div id="getstarted" #getstarted></div>
  <div class="maincontainer">
    <div class="row">
      <div class="feature-section col-12 col-md-4">
        <div class="text-center">
          <img alt="cabinet" src="../../assets/whitehouse.png" />
          <h3>
            <a class="black-link" href="/cabinet">Cabinet</a>
          </h3>

          <p>Cabinet members of the current administration.</p>
        </div>
      </div>

      <div class="feature-section col-12 col-md-4">
        <div class="text-center">
          <img alt="congress" src="../../assets/congress.png" />

          <h3>
            <a class="black-link" href="/legislators">Legislators</a>
          </h3>

          <p>Search for senators and members of congress.</p>
        </div>
      </div>

      <div class="feature-section col-12 col-md-4">
        <div class="text-center">
          <img alt="justice" src="../../assets/justice2.png" />
          <h3>
            <a class="black-link" href="/judiciary">Justices</a>
          </h3>
          <p>Supreme court justices, key decisions and opinions.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="row feature-bills">
  <div class="feature-section col-12 col-md-6 col-lg-4">
    <img alt="bills" class="img-fluid p-4" src="../../assets/billsmain.png" />
  </div>
  <div class="feature-section col-12 col-md-6 text-left p-4">
    <a class="white-link" title="bills" href="/bills">
      <h3>Bills under consideration</h3></a
    >
    <p>Get information on bills that are being considered by congress.</p>
  </div>
</div>

<div class="row other-links">
  <div class="col-12 col-md-3">
    <img
      alt="register to vote"
      class="img-fluid pl-4 pt-4 pb-3"
      src="assets/register.png"
    />
    <div class="pl-4">
      <h4>Register to vote</h4>
      <p>It takes less than 2 minutes to register.</p>
      <a title="Register to vote." href="https://www.vote.org/register-to-vote/"
        >Register to Vote</a
      >
    </div>
  </div>

  <div class="col-12 col-md-3">
    <img
      alt="town hall project"
      class="img-fluid pl-4 pt-4 pb-3"
      src="assets/townhall.png"
    />
    <div class="pl-4">
      <div class="mb-0">
        <h4>Town Hall project</h4>
      </div>
      <div class="mt-0">
        <p>Show up. Speak Out.</p>
      </div>
      <a title="Town hall project." href="https://townhallproject.com/"
        >Find a town hall now</a
      >
    </div>
  </div>

  <div class="other-links-last-col col- 12 col-md-6 d-flex pr-5">
    <div class="row align-items-end justify-content-end">
      <!-- <div class="d-none d-sm-block"> -->
      <blockquote>
        <p class="quote">{{ selectedQuote.text }}</p>
        <br />
        <p class="credit">
          <strong>{{ selectedQuote.author }}</strong>
        </p>
      </blockquote>
    </div>
  </div>
</div>
<!-- Footer -->
<footer>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <span class="copyright">Copyright &copy; GovLookup 2020</span>
    </div>
    <div class="col-md-4"></div>
  </div>
</footer>
